<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/MediWeb.styles.css" asp-append-version="true" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <title>Enfermera!</title>
  </head>
  <body>
 
   
    {% include "MenuHeader.html" %}

    <!-- Aquí va el contenido de cada página -->
    {% block content %}
    


    
   <div class="card">
        <div class="card-header">
            Crear Usuarios
        </div>
        <div class="card-body">
    
            
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Usuario</label>
                    <input  type="text" class="form-control" id="Userid" name="Userid" >
                    <span  class="text-danger"></span>
                 
                  
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                    <input  type="text" class="form-control" id="Nombre" name="Nombre" >
                    <span  class="text-danger"></span>
                 
                  
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Apellido</label>
                    <input  type="text" class="form-control" id="Apellido" name="Apellido" >
                    <span  class="text-danger"></span>
                 
                  
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Correo</label>
                    <input  type="email" class="form-control" id="Correo" name="Correo" >
                    <span  class="text-danger"></span>
                 
                  
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Clave</label>
                    <input  type="password" class="form-control" id="Clave" name="Clave" >
                    <span  class="text-danger"></span>
                 
                  
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Clave</label>
                    <input  type="password" class="form-control" id="estado" name="estado" >
                    <span  class="text-danger"></span>
                 
                  
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">PreguntaRecuperacion</label>
                    <input  type="text" class="form-control" id="PreguntaRecuperacion" name="PreguntaRecuperacion" >
                    <span  class="text-danger"></span>
                 
                  
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">RespuestaRecuperacion</label>
                    <input  type="text" class="form-control" id="RespuestaRecuperacion" name="RespuestaRecuperacion" >
                    <span  class="text-danger"></span>
                     
                </div>
                


        
                <div class="mb-3">
                    <label for="roles" class="form-label">Roles</label>
                    <select id="roles" class="form-control" name="RolId" style="width: 100%;">
                        {% for rol in resroles %}
                            <option value="{{ rol.id }}">{{ rol.Nombre }}</option>
                        {% endfor %}
                    </select>
                    <span class="text-danger"></span>
                </div>
                
    
            
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-floppy-fill"></i> Guardar
                </button>
                <a  class="btn btn-warning">
                    <i class="bi bi-arrow-left-circle-fill"></i> Volver a la lista
                </a>
  <!--  
                -->
            </form>
    
        </div>
    </div> 


    {% endblock %}
  </body>
</html>