<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



<script src="/js/modules/stock.js"></script>
<script src="/js/modules/map.js"></script>
<script src="/js/modules/gantt.js"></script>





    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include "MenuHeader.html" %}

    <!-- Aquí va el contenido de cada página -->
    {% block content %}
    
 

    <div class="container-fluid">
        <div class="row">
            <div class=" col-lg-12">
                <div id="container"></div>

            </div>

        </div>

    </div>



    <div id="container" style="width:100%; height:400px;"></div>
     

    
    {% endblock %}


    

    <!-- Chartjs libraries -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    
    
<script>
    _values = {{values|safe}}  
    _categories = {{categories|safe}}  
    _table_data = {{table_data|safe}}  

    const data = _values.map((value, index) => ({
            name: _categories[index],
            y: value
        }));
    

    document.addEventListener('DOMContentLoaded', function () {

     console.log('_values', _values)
     console.log('_categories', _categories)
     console.log('_table_data', _table_data)
     
      

        const chart = Highcharts.chart('container', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Reporte de los 5 Medicamentos mas vendidos '
            },
            tooltip: {
        valueSuffix: ''
            } ,
            series: [{
                name: 'Total',
                showInLegend: false,
                colorByPoint: true,
                data: data // Aquí se asigna la variable 'data'
            }]
        });
    });
</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    
  </body>


</html>
