<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/MediWeb.styles.css" asp-append-version="true" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <title>Enfermera!</title>
  </head>
  <body>
 
   
    {% include "MenuHeader.html" %}

    <!-- Aquí va el contenido de cada página -->
    {% block content %}
    


    {% url 'Enfermera' as Enfermera %}

   <div class="card">
        <div class="card-header">
            Editar Enfermera
        </div>
        <div class="card-body">
    
            
            <form method="post">
                {% csrf_token %}
                {% for row in sqlserverconn %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                    <input  type="text" class="form-control" id="Nombre" name="Nombre"  value= "{{ row.Nombre }}" >
                    <span  class="text-danger"></span>
                 
                  
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Telefono</label>
                    <input  type="tel" class="form-control" id="Telefono" name="Telefono"   value= "{{ row.Telefono }}" >
                    <span  class="text-danger"></span>
               
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">DNI</label>
                    <input type="text" class="form-control" id="DNI" name="DNI" value= "{{ row.DNI }}" >
                    <span  class="text-danger"></span>
    
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Direccion</label>
                    <textarea id="Direccion" class="form-control" rows="3" cols="30" name="Direccion"   value= "{{ row.Direccion }}" >
                        {{ row.Direccion }}
                        
                    </textarea>
                    <span  class="text-danger"></span>
                
                </div>
    
            
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-floppy-fill"></i> Guardar
                </button>
                <a  class="btn btn-warning" href="{{Enfermera}}" >
                    <i class="bi bi-arrow-left-circle-fill" ></i> Volver a la lista
                </a>
  <!--  
                -->
                {% endfor %}    
            </form>
    
        </div>
    </div> 


    {% endblock %}
  </body>
</html>