<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include "MenuHeader.html" %}

    <!-- Aquí va el contenido de cada página -->
    {% block content %}
    
<div class="card">
    <div class="card-header">
        Lista enfermera
    </div>
    <div class="card-body">
  <table class="table table-striped" >
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Telefono</th>
      <th scope="col">DNI</th>
      <th scope="col">Direccion</th>
    </tr>
  </thead>
  <tbody>
    {% for datadisplay in sqlserverconn%}

    <tr>
        <td>{{datadisplay.id}}</td>
        <td>{{datadisplay.Nombre}}</td>
        <td>{{datadisplay.Telefono}}</td>
        <td>{{datadisplay.DNI}}</td>
        <td>{{datadisplay.Direccion}}</td>


    </tr>
    {% endfor %}

  </tbody>
</table>
   
</div>
</div>
     
    {% endblock %}
  </body>
</html>
